<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAustralian_Postcode_Validation" />
                <binding name="BasicHttpBinding_IPeople_and_Job_Information_Management" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49497/Australian%20Postcode%20Validation.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAustralian_Postcode_Validation"
                contract="ServiceReference1.IAustralian_Postcode_Validation"
                name="BasicHttpBinding_IAustralian_Postcode_Validation" />
            <endpoint address="http://localhost:49497/People%20and%20Job%20Information%20Management.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPeople_and_Job_Information_Management"
                contract="ServiceReference2.IPeople_and_Job_Information_Management"
                name="BasicHttpBinding_IPeople_and_Job_Information_Management" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
