<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Country_Code_Finder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <Country_Code_Finder.Properties.Settings>
            <setting name="Country_Code_Finder_CountryCodeFinderRef_Country_Code_Finder1"
                serializeAs="String">
                <value>http://localhost:59703/Country%20Code%20Finder.asmx</value>
            </setting>
        </Country_Code_Finder.Properties.Settings>
    </applicationSettings>
</configuration>
