<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Color_Mixer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <Color_Mixer.Properties.Settings>
            <setting name="Color_Mixer_ColorMixerRef_Color_Mixer" serializeAs="String">
                <value>http://localhost:50193/Color%20Mixer.asmx</value>
            </setting>
            <setting name="Color_Mixer_ColortoCodConvertorRef_Color_to_Code_Convertor"
                serializeAs="String">
                <value>http://localhost:50193/Color%20to%20Code%20Convertor.asmx</value>
            </setting>
        </Color_Mixer.Properties.Settings>
    </applicationSettings>
</configuration>
